[*.js]
charset=utf-8
indent_style=tab
tab_width=3
insert_final_newline=true

[*.wxml]
charset=utf-8
indent_style=tab
tab_width=3
insert_final_newline=true

[*.wxss]
charset=utf-8
indent_style=tab
tab_width=3
insert_final_newline=true

[*.json]
charset=utf-8
indent_style=tab
tab_width=3